<div class="form__box">
    <form action="" class="form__container">

        <h1>Login</h1>

        <div class="email__container">
            <label for="email">Email</label>
            <input
                type="email"
                name="email"
                id="email"
                required
            />
        </div>

        <div class="passward__container">
            <label for="email">Password</label>
            <input
                type="password"
                name="password"
                id="password"
                required
            />
        </div>

        <div class="btn__container">    
            <button type="submit" name="submit" class="btn__form">SIGN IN</button>
            <a href="create">Create account</a>
        </div>
    </form>
</div>