
<div class="form__box">
    <form action="" class="form__container">
        <h1>New Profile</h1>
        <div class="name-box">
            <label for="f_name">First Name</label>
            <input
                type="text"
                name="f_name"
                id="f_name"
                required
            />
        </div>

        <div class="name-box">
            <label for="l_name">Last Name</label>
            <input
                type="text"
                name="l_name"
                id="l_name"
                required
            />
        </div>

        <div class="address-box">
            <label for="address">Address line 1</label>
            <input
                type="text"
                name="address"
                id="address"
                required
            />
        </div>

        <div class="address-box">
            <label for="address">Address line 2</label>
            <input
                type="text"
                name="address"
                id="address"
                required
            />
        </div>

         <div class="address-box">
            <label for="address">City</label>
            <input
                type="text"
                name="address"
                id="address"
                required
            />
        </div>

        <div class="address-box">
            <label for="address">Postcode</label>
            <input
                type="text"
                name="address"
                id="address"
                required
            />
        </div>

        <div class="btn__container">    
            <button type="submit" name="submit" class="btn__form">CREATE</button>
        </div>

    </form>
</div>
