<footer>
    <section id="footer">                
        <ul class="policies">
            <li class="policy"><a href="#">Refund Policy</a></li>
            <li class="policy"><a href="#">Privacy Policy</a></li>
            <li class="policy"><a href="#">Shipping Policy</a></li>
            <li class="policy"><a href="#">Terms of Service</a></li>
            <li class="policy"><a href="#">Contact Us</a></li>
        </ul>                   
    </section>
</footer>