<section id="home">
    <div class="section__container">
        <h1 class="home__title">Body Helper</h1>
        <p class="home__description">Get back to what you love</p>
        <button class="home__contact" data-link="#contact">SHOP NOW</button>
    </div>
</section>