// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// Universal tags

// * {
//   box-sizing: border-box;
// }

// ul {
//   list-style: none;
//   padding-left: 0;
// }

// #header {
//   .announcement__bar {
//     background-color: #3a3a3a;
//     text-align: center;
//     padding: 16px;

//     .announcement__bar__message {
//       color: #eae706;
//       margin: 0;
//     }
//   }
//   .navbar {
//     //   position: fixed;
//     width: 100%;
//     display: flex;
//     justify-content: space-between;
//     background-color: #ffffff;
//     align-items: center;
//     padding: 20px 50px;

//     .navbar__logo {
//       img {
//         max-width: 130px;
//       }
//     }

//     .navbar__menu {
//       display: flex;
//       align-items: center;
//       margin: 0;

//       .navbar__menu__item {
//         padding: 8px 12px;
//         margin: 0 4px;
//         cursor: pointer;
//         border-radius: 4px;
//       }

//       .navbar__menu__item:hover {
//         color: #808080;
//       }
//     }

//     .navbar__icons {
//       display: flex;
//       align-items: center;
//       margin: 0;

//       .navbar__icon {
//         padding: 8px 12px;

//         img {
//           width: 22px;
//         }

//         button {
//           background-color: transparent;
//           cursor: pointer;
//           border: none;
//           outline: none;
//         }
//       }
//     }

//     .navbar__toggle-btn {
//       position: absolute;
//       top: 20px;
//       right: 26px;
//       font-size: 24px;
//       display: none;
//     }
//   }
// }

// #home {
//   .home__container {
//     color: rgba(255, 255, 255, 0.9);
//     background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
//       url(/images/main.jpeg);
//     background-repeat: no-repeat;
//     // background-size: 100%;
//     background-size: cover;
//     background-position: bottom center;
//     position: relative;
//     width: 100%;
//     height: 80vh;
//     padding: 20vh 0;
//     text-align: center;

//     h1 {
//       font-size: 60px;
//     }

//     p {
//       font-size: 28px;
//     }

//     button {
//       cursor: pointer;
//       border: none;
//       outline: none;
//       padding: 10px 18px;
//       border-radius: 2px;
//       background-color: #3a3a3a;
//       color: #ffffff;
//       margin-top: 25px;
//       font-size: 16px;
//     }

//     button:hover {
//       background-color: #808080;
//     }
//   }
// }

// #about {
//   .about__container {
//     display: flex;
//     padding: 110px 55px;
//     color: #3a3a3a;
//   }

//   .feature__container {
//     max-width: 1200px;
//     margin: 0 auto;

//     img {
//       width: 500px;
//       height: 300px;
//       border-radius: 5px;
//     }
//   }

//   .text__container {
//     padding: 55px 0 55px 35px;

//     p {
//       padding-top: 15px;
//     }
//   }
// }

// #footer {
//   .footer__container {
//     background-color: #f6f6f6;
//     padding: 50px 0;
//   }

//   .policies {
//     display: flex;
//     justify-content: center;

//     .policy {
//       padding: 8px 12px;

//       a {
//         text-decoration: none;
//         color: #333232;
//       }

//       a:hover {
//         color: #808080;
//       }
//     }
//   }
// }

// @media screen and (max-width: 768px) {
//   .navbar__menu {
//     display: none;
//     flex-direction: column;
//     width: 100%;
//     text-align: center;
//   }

//   #about {
//     img {
//       width: 50px;
//     }
//   }
// }

///////////////////////////////////

// Universal tags

* {
  box-sizing: border-box;
  font-family: "Fira Sans Condensed", sans-serif;
}

ul {
  list-style: none;
  padding-left: 0;
}

#header {
  .announcement__bar {
    width: 100%;
    background-color: #3a3a3a;
    text-align: center;
    padding: 16px;

    .announcement__bar__message {
      color: #eae706;
      margin: 0;
    }
  }
  .navbar {
    //   position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    align-items: center;
    padding: 8px 12px;
    height: 90px;

    .navbar__logo {
      img {
        width: 130px;
        padding: 0 0 0 22px;
        margin: 15px 0;

        @media only screen and (min-width: 768px) {
          width: 160px;
        }
      }
    }

    .navbar__menu {
      display: none;
      align-items: center;
      margin: 0;

      @media only screen and (min-width: 768px) {
        display: block;
        display: flex;
      }

      .navbar__menu__item {
        padding: 8px 12px;
        margin: 0 4px;
        cursor: pointer;
        border-radius: 4px;
      }

      .navbar__menu__item:hover {
        color: #808080;
      }
    }

    .navbar__icons {
      display: flex;
      align-items: center;
      margin: 0 34px 0 0;

      .navbar__icon {
        img {
          width: 20px;
        }

        button {
          background-color: transparent;
          cursor: pointer;
          border: none;
          outline: none;
          padding: 10px 11px;
        }
      }
    }

    .navbar__toggle-btn {
      position: absolute;
      top: 28px;
      right: 30px;
      font-size: 20px;

      @media only screen and (min-width: 768px) {
        top: 36px;
        right: 30px;
        font-size: 20px;
      }
    }
  }
}

#home {
  .home__container {
    color: rgba(255, 255, 255, 0.9);
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url(/images/main.jpeg);
    background-repeat: no-repeat;
    // background-size: 100%;
    background-size: cover;
    background-position: bottom center;
    position: relative;
    width: 100%;
    // height: 80vh;
    padding: 20vh 0;
    text-align: center;

    h1 {
      font-size: 36px;
    }

    p {
      font-size: 20px;
    }

    button {
      cursor: pointer;
      border: none;
      outline: none;
      padding: 10px 18px;
      border-radius: 2px;
      background-color: #3a3a3a;
      color: #ffffff;
      margin-top: 25px;
      font-size: 16px;
    }

    button:hover {
      background-color: #808080;
    }
  }
}

#about {
  .about__container {
    padding: 60px 22px 0 22px;
    color: #3a3a3a;
    max-width: 1200px;
    margin: 0 auto;
  }

  .feature__container {
    img {
      width: 100%;
      //   height: 180px;
      border-radius: 5px;
    }
  }

  .text__container {
    padding: 32px 22px 32px 22px;

    p {
      padding-top: 15px;
    }
  }
}

// #collection {
//   display: flex;
//   flex-wrap: wrap;
//   color: #3a3a3a;
//   width: 100%;
//   margin: 0 auto;
//   justify-content: center;
//   text-align: center;

//   .collection__container {
//     width: 140px;
//     margin: 10px;
//     border: 2px solid #3a3a3a;
//   }

//   h3 {
//     font-size: 15px;
//   }

//   p {
//     font-size: 13px;
//   }
// }

#footer {
  .footer__container {
    background-color: #f6f6f6;
    margin-top: 55px;
    padding: 50px 0;
  }

  .policies {
    padding-left: 30px;
    
    @media only screen and (min-width: 768px) {
      display: flex;
      justify-content: center;
    }
    .policy {
      padding: 12px 24px;

      a {
        text-decoration: none;
        color: #333232;
      }

      a:hover {
        color: #808080;
      }
    }
  }
}
